html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ********** Global - EndResetCSS ********** */
body {
  max-width: 1140px;
  margin: auto;
  font: 14px "Work Sans";
  position: relative;
  overflow: auto;
  background: #fffef8;
}

/* ********** EditMode ********** */
#editMode {
  display: none;
  height: 59px;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
#editMode i {
  padding-right: 10px;
}

/* ********** Header ********** */
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}
h1 a {
  width: 213px;
  height: 42px;
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
  text-decoration: none;
  gap: 5px;
}
h1 a > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: normal;
}
h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav,
nav ul {
  align-items: center;
  list-style-type: none;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.navbar li {
  margin-left: 3em;
}
.navbar-link {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.navbar-link:hover {
  color: #b1663c;
}
.navbar-link:is(:link, :active, :visited).active {
  font-weight: 700;
}
.navbar-link img {
  width: 22px;
  height: 22px;
}

/* ********** Introduction ********** */
#introduction {
  display: flex;
  align-items: center;
  margin: 8em 0 10em 0;
}

#introduction img {
  display: block;
  /* margin: auto; */
  margin: 0 72px 0 95px;
  width: 474px;
  height: 355px;
}

#introduction h2 {
  margin-bottom: 0.5em;
}
#introduction p {
  margin-bottom: 0.5em;
  line-height: normal;
  width: 404px;
}

/* ********** Projects ********** */
#projects {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}
#projectsTitle {
  display: flex;
  text-align: center;
}
.editProjects {
  display: none;
  align-items: center;
  margin-left: 2em;
  font-family: "Work Sans";
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
}
.editProjects i {
  padding-right: 1em;
}
.filterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  width: 100%;
  height: 37px;
}
.filterContainer button {
  width: auto;
  padding: 10px 18px;
  margin: 0 5px;
  border: 1px solid #1d6154;
  border-radius: 60px;
  background-color: #fff;
  color: #1d6154;
  font-family: "Syne";
  font-weight: 700;
}
.filterContainer button:hover {
  background-color: #1d6154;
  color: #fff;
}
.gallery {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  justify-content: center;
}
.gallery figure {
  width: 310px;
  height: 413px;
}
.gallery img {
  width: 305px;
  height: 407px;
}

/* ********** Contact ********** */
#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#login h2 {
  margin-top: 100px;
}
#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input,
#login input,
#formAddPicture input,
#categories {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label,
#formAddPicture label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login a {
  display: flex;
  justify-content: center;
  color: #000;
}
input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 3em auto;
  width: 179px;
  text-align: center;
  border-radius: 60px;
}

/* ********** Modale principale ********** */
.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modalContentContainer {
  max-width: calc(100% - 60px);
  max-height: calc(100% - 60px);
  width: 630px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  min-width: 600px;
  overflow: auto;
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 105px 45px 105px;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 30px;
  padding-right: 30px;
}
.buttonModal {
  border: none;
  background: #fff;
  cursor: pointer;
  font-size: 1.4em;
}
.modalTitle {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modalGallery {
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 25px;
  margin-top: 3em;
  margin-bottom: 60px;
}
.modalGallery img {
  width: 100%;
  height: 103px;
}
.modalWorkContainer {
  position: relative;
}
.deleteIcon {
  position: absolute;
  z-index: 5;
  right: 11px;
  top: 5px;
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.fa-trash-can {
  font-size: 10px;
  padding: 3px 4px;
  color: #fff;
  background: #000;
  border-radius: 2px;
}
.modalSeparator {
  height: 1px;
  background: #b3b3b3;
  margin-bottom: 38px;
  width: 100%;
}
.formSeparator {
  margin-top: 46px;
}
.addPictureButton,
.modalValidateButton:disabled,
.modalValidateButton:enabled {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #1d6154;
  width: 237px;
  padding: 10px 49px;
  text-align: center;
  margin: 0 auto;
  height: 36px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}
.modalValidateButton:disabled {
  background-color: #a7a7a7;
  cursor: not-allowed;
}

/* ********** Modale d'ajout des photos ********** */
.addPictureContainer {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 169px;
  border-radius: 3px;
  background: #e8f1f6;
  align-items: center;
  margin-top: 3em;
}
.addPictureContainer p {
  font-family: "Work Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #444444;
  margin-top: 7px;
  margin-bottom: 2px;
}
.fa-image {
  width: 68px;
  height: 60px;
  border-radius: 3px;
  border: none;
  font-size: 60px;
  line-height: 60px;
  padding: 0;
  background: #e8f1f6;
  margin: 13px 0;
  cursor: pointer;
  color: #b9c5cc;
}

.pictureSelectButton {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: white;
  background-color: #1d6154;
  width: 179px;
  height: 36px;
  padding: 10px 33px;
  text-align: center;
  height: 36px;
  border: none;
  border-radius: 50px;
  color: #306685;
  background: #cbd6dc;
  cursor: pointer;
}
#formAddPicture {
  display: flex;
  flex-direction: column;
}
.browse {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  height: 1px;
  width: 1px;
  z-index: -5;
}
.addPictureContainer img {
  height: 100%;
}

/* ********** Footer ********** */
footer {
  display: flex;
  height: 60px;
  max-width: 1140px;
  background: #fffef8;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
.footer-login {
  position: absolute;
  right: 0;
  margin-top: 19em;
  max-width: 1140px;
  background: #fffef8;
}
